{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6">
                <div class="card-header">
                    <h2 class="card-title">
                        Удаление поста
                    </h2>
                </div>
                <div class="card-body">
                    Удалить пост "{{ object }}"?
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
                <div class="card-footer">
                    <a href="{% url 'main:detail_blogpost' object.pk %}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}